<!DOCTYPE html>
<html>
<head>
  <title>Hamfactory</title>
  <%= stylesheet_link_tag    "hamfactory/application", media: "all" %>
  <%= javascript_include_tag "hamfactory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
